<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Entdeckung</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeChallenge()"><i class="icon ion-ios-close-empty"></i></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="item">
      <p>Schwierigkeitsgrad
        <span star-rating rating-value="rating" max="3" readonly="true"></span>
      </p>
      <p>{{challenge.question}}</p>
    </div>
    <ion-item ng-repeat="hint in challenge.hints" class="item item-text-wrap animate-show ng-hide" ng-show="show_hint">
      <div ng-class="isItemShown(hint) ? 'item-expand active' : 'item-expand inactive'">
        <p>{{ hint.description }}</p>
      </div>
      <div ng-click="toggleItem(hint)" class="item-expand-footer">
        <i ng-class="isItemShown(hint) ? 'ion-ios-minus-outline' : 'ion-ios-plus-outline'"></i>
        Hinweis {{ isItemShown(hint) ? 'minimieren' : 'zeigen' }}
      </div>
    </ion-item>
    <div class="item animate-show" ng-class="correct_answer ? 'item-balanced' : 'item-assertive'" ng-show="show_notification">
      {{correct_answer ? 'Gratulation! Das war korrekt!' : 'Versuch es noch einmal oder nimm einen Hinweis.'}}
    </div>
    <form ng-submit="answerChallenge()">
      <div class="list list-inset" ng-if="challenge.challenge_solutions.length == 1">
        <label class="item item-input">
          <input type="text" placeholder="Antwort" ng-model="challengeData.answer">
        </label>
      </div>
      <ion-list ion-radio ng-if="challenge.challenge_solutions.length > 1">
        <ion-list-header>Antwortmöglichkeiten</ion-list-header>
        <ion-radio ng-repeat="s in challenge.challenge_solutions" ng-model="challengeData.answer" ng-value="s.answer">{{s.answer}}</ion-radio>
      </ion-list>
      <div class="list">
        <label class="item" style="padding-bottom: 0px; border-bottom: none;">
          <button type="submit" class="button button-block button-positive">Ok, ich hab's!</button>
        </label>
      </div>
    </form>
    <div class="list">
      <label class="item" style="padding-top: 0; border-top: none;">
        <button type="button" class="button button-block button-clear" ng-click="closeChallenge()" style="margin-top: 0px;">Lieber doch später</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
