<ion-view view-title="Fragebogen" id="question-form">
  <div class="bar bar-subheader">
    <h2 class="title">Schritt 2 von 4</h2>
  </div>
  <ion-content class="has-subheader">
    <div class="list">

      <div class="item item-divider">
        Welche der folgenden Aussagen passt zu dir? Lege dich bitte maximal auf zwei Aussagen fest.
      </div>
      <ion-checkbox ng-repeat="item in playerTypes"
                    ng-model="data[item.name]"
                    ng-checked="data[item.name]"
                    name="{{item.name}}">
        {{ item.text }}
      </ion-checkbox>

      <div class="item item-divider">
        Welche der folgenden Spiele sagen dir zu? (Mehrfachauswahl möglich)
      </div>
      <ion-checkbox ng-repeat="item in gameTypes"
                    ng-model="data[item.name]"
                    ng-checked="data[item.name]"
                    name="{{item.name}}">
        {{ item.text }}
      </ion-checkbox>

      <div class="padding">
        <a class="button button-block button-positive" ui-sref="app.form3" ng-click="store_data(false)">Weiter zu Schritt 3</a>
        <a class="button button-block button-light" ui-sref="app.form" ng-click="store_data(false)">Zurück zu Schritt 1</a>
      </div>

    </div>
  </ion-content>
</ion-view>

