<ion-view view-title="SEESIGHT">
  <ion-content>
    <ion-list>
      <ion-item class="item item-icon-left">
        <i class="icon ion-ios-information"></i>
        <p>
          {{completed_user_tours.length > 0 ? 'Klasse, dass du als Probant an der Abschlussarbeit teilgenommen hast. ' : 'Hallo! Danke für die Teilnahme. Und nun viel Spaß.'}}
          <span ng-if="completed_user_tours.length > 0">{{did_survey ? 'Vielen Dank für das Ausfüllen des Fragebogens!' : 'Fülle doch bitte gleich den Fragebogen aus.' }}</span>
        </p>
      </ion-item>
      <ion-item class="item item-icon-left item-energized ng-hide" ng-show="!isOnline">
        <i class="icon ion-ios-bolt"></i>
        <p>Du scheinst nicht mit dem Internet verbunden zu sein. Für eine korrekte Nutzung ist eine Internetverbindung allerdings notwendig.</p>
      </ion-item>
      <ion-item class="item item-icon-right item-calm" ui-sref="app.form">
        Fragebogen
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right"
                ng-click="selectUserTour(fast_start_user_tours[0].id)"
                ui-sref="app.tour_detail({tourId: fast_start_user_tours[0].tour.id})">
        Schnellstart
        <p>Ich möchte sofort loslegen.</p>
        <p>Suche mir bitte automatisch eine Tour.</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-right"
                ui-sref="app.tours">
        Alle Touren
        <p>Ich möchte selbst eine Tour auswählen.</p>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-left"
                ng-click="showDismiss()">
        Eigene Tour erstellen
        <p>Ich möchte selbst eine Tour erstellen und beginnen.</p>
        <i class="icon ion-ios-locked-outline"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
