<!--<ion-nav-bar class="bar-positive" style="display: block;">
  <ion-nav-buttons side="left">
    <button class="button button-clear no-animation"
            ng-click="startApp()" ng-show="!slideIndex">
      Überspringen
    </button>
    <button class="button button-clear no-animation"
            ng-click="previous()" ng-show="slideIndex > 0">
      Zurück
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear no-animation"
            ng-click="next()" ng-show="slideIndex != 2">
      Weiter
    </button>
    <button class="button button-clear no-animation"
            ng-click="startApp()" ng-show="slideIndex == 2">
      Starte App
    </button>
  </ion-nav-buttons>
</ion-nav-bar>-->

<ion-nav-view>
  <ion-view>
    <ion-slide-box on-slide-changed="slideChanged(index)">
      <ion-slide>
        <div class="row">
          <div class="col text-center">
            <h3>Herzlich Willkommen!</h3>
            <p>
              Lieber Testprobant, schön, dass du an diesem Testdurchlauf teilnimmst.
              SeeSight möchte dir ein aufregenderes und intensiveres Ausflugserlebnis bieten.
              Probiere es doch gleich einmal aus.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <small>
              Zu Evaluationszwecken wird dein Verhalten während der Benutzung mitverfolgt.
              Deine Daten sind anonymisiert und werden ausschließlich im Rahmen der Abschlussarbeit ausgewertet.
            </small>
          </div>
        </div>
        <div class="row ng-hide" ng-show="!isOnline">
          <div class="col text-center" style="margin-bottom: 30px;">
            <small>
              <strong>
                Du scheinst nicht mit dem Internet verbunden zu sein.
                Für eine korrekte Nutzung ist eine allerdings Internetverbindung notwendig.
              </strong>
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-block button-light" ng-click="next()">WEITER</button>
            <button class="button button-block button-clear button-light" ng-click="startApp()">ÜBERSPRINGEN</button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col text-center">
            <h3>Empfohlene Vorgehensweise</h3>
            <div id="list">
              <ol>
                <li>Suche dir eine Tour aus oder wähle gleich den Schnellstart</li>
                <li>Beginne deine Tour und mache interessante Entdeckungen dabei.</li>
                <li>Das war's auch schon.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p>
              Es wäre toll, wenn du nach der Tour kurz ein paar Evaluationsfragen beantwortest.
              Der Fragebogen erscheint im Hauptmenü, nachdem du eine Tour abgeschlossen hast.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-block button-light" ng-click="next()">WEITER</button>
            <button class="button button-clear button-light no-animation"
                    ng-click="previous()">
              ZURÜCK
            </button>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="row">
          <div class="col text-center">
            <h3>Was interessiert dich an Ausflügen und Touren am meisten?</h3>
          </div>
        </div>
        <div class="row">
          <div class="col text-center" style="margin-bottom: 30px;">
            <div ng-repeat="tag in tags" class="badge badge-label" ng-click="collectTags(tag.id); tag.selected = !tag.selected;" ng-class="tag.selected ? 'selected' : ''">
              {{tag.name}}
              <i class="ion" ng-class="tag.selected ? 'ion-checkmark-circled' : 'ion-plus-circled'"></i>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <button class="button button-block button-light" ng-click="startApp()">
              LOS
            </button>
            <button class="button button-clear button-light no-animation"
                    ng-click="previous()">
              ZURÜCK
            </button>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-view>
</ion-nav-view>
