<ion-view view-title="{{place.name}}">
  <ion-content>
    <leaflet center="center" defaults="defaults" height="150px" markers="markers"></leaflet>
    <div class="item animate-show ng-hide" ng-show="challengeExists()">
      <div class="row">
        <div class="col">
          <p>Hier gibt es etwas zu entdecken!<br>Für mehr Infos, klicke auf den Button gleich hier rechts.</p>
        </div>
        <div class="col col-25">
          <button class="shake button-round button button-default button-icon-only button-assertive"
                  ng-click="showChallenge()">
        <span class="button-inner">OK
          <!--<i class="icon ion-ios-search-strong"></i>-->
        </span>
            <ion-button-effect></ion-button-effect>
          </button>
        </div>
      </div>
    </div>
    <div class="item">
      <p>{{place.description}}</p>
    </div>
  </ion-content>
  <div class="bar bar-subfooter auto-height" ng-if="(tour_place.id + 1) <= tour.tour_places.length">
      <button class="button button-positive button-full button-large"
              ui-sref="app.tour_start({tourId: tour.id, placeId: nextPlaceId})"
              ng-click="placeIsVisited(place)">
        Weiter
      </button>
  </div>
  <div class="bar bar-subfooter auto-height" ng-if="(tour_place.id + 1) > tour.tour_places.length">
    <button class="button button-positive button-full button-large"
            ui-sref="app.tour_finish({tourId: tour.id})"
            ng-click="placeIsVisited(place)">
      Tour beenden
    </button>
  </div>
  <div class="bar bar-footer auto-height">
      <button class="button button-light button-full button-small" ui-sref="app.home">Tour pausieren</button>
  </div>
</ion-view>
