
<ion-view view-title="Tour">
  <ion-content>
    <div class="row">
      <div class="col text-center"><i style="font-size: 800%;" class="icon ion-map"></i></div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h4>Die Tour ist leider schon zu Ende.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>Hat dir die Tour gefallen? Dann bewerte sie mithilfe der Sternchen und klicke dann auf Tour beenden.</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <span star-rating rating-value="rating" max="3" on-rating-selected="saveRatingToServer(rating)" style="font-size: 250%;"></span>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" ng-if="user_tour_challenges.length > 0">
      <div class="col text-center positive-bg" style="color: #fff;">
        <h4 style="color: #fff !important;">{{unsolved_user_tour_challenges.length > 0 ? 'Glückwunsch!' : 'Wie schade.'}} {{unsolved_user_tour_challenges.length}} von {{user_tour_challenges.length}} Rätseln gelöst.</h4>
        <p>Du kannst jederzeit alle bisher noch ungelösten Rätsel in den Seiteneinstellunge im Hauptmenü aufrufen, und dich erneut daran versuchen.</p>
      </div>
    </div>
  </ion-content>
  <div class="bar bar-subfooter auto-height" style="bottom: 0px;">
    <button class="button button-positive button-full button-large"
            ui-sref="app.home">
            Zurück zum Hauptmenü
    </button>
  </div>
</ion-view>
