
<ion-view view-title="Tour">
  <ion-content>
    <div class="row">
      <div class="col text-center"><i style="font-size: 800%;" class="icon ion-map"></i></div>
    </div>
    <div class="row">
      <div class="col text-center">
        <h4>Die Tour ist leider schon zu Ende.</h4>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <p>Hat dir die Tour gefallen? Dann bewerte sie mithilfe der Sternchen und klicke dann auf Tour beenden.</p>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <span star-rating rating-value="rating" max="5" on-rating-selected="saveRatingToServer(rating)" style="font-size: 250%;"></span>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row" ng-if="user_tour_challenges.length > 0">
      <div class="col text-center positive-bg" style="color: #fff;">
        <h4 style="color: #fff !important;">{{unsolved_user_tour_challenges.length > 0 ? 'Glückwunsch!' : 'Wie schade.'}} {{unsolved_user_tour_challenges.length}} von {{user_tour_challenges.length}} Entdeckungen gemacht.</h4>
        <p>
          Du kannst jederzeit alle noch unvollständigen Entdeckungen in den Seiteneinstellungen im Hauptmenü aufrufen, und dich erneut daran versuchen.
          Übrigens: Je mehr Entdeckungen du machst, desto mehr Funktionen schaltest du dir frei.
        </p>
      </div>
    </div>
    <div class="row">&nbsp;</div>
    <button class="button button-positive button-full button-large"
            ng-click="goHome()">
      Zurück zum Hauptmenü
    </button>
  </ion-content>
</ion-view>
