<ion-view view-title="Touren">
  <ion-content>
    <ion-item class="item item-icon-left">
      <p>Wähle eine Tour aus der Liste und verschaffe dir einen Überblick über die Sehenswürdigkeiten.</p>
      <i class="icon ion-ios-information"></i>
    </ion-item>
    <ion-list>
      <div class="item item-divider">
        Verfügbare Erkundungstouren
      </div>
      <ion-item class="item item-icon-right"
                ng-repeat="user_tour in user_tours"
                ng-click="selectUserTour(user_tour.id)"
                ui-sref="app.tour_detail({tourId: user_tour.tour.id})">
        {{user_tour.tour.name}}
        <span ng-if="!user_tour.completed" class="item-note">
          pausiert
        </span>
        <span ng-if="user_tour.completed" class="item-note">
          abgeschlossen
        </span>
        <i class="icon ion-ios-arrow-right"></i>
        <p>Bewertung:
          <span star-rating rating-value="user_tour.rating" max="5" readonly="true"></span>
        </p>
        <p><span class="badge badge-label" ng-repeat="tag in user_tour.tour.tags">{{tag.name}}</span> </p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
