<ion-view view-title="Tour">
  <div class="bar bar-subheader">
    <h2 class="title">{{tour.name}}</h2>
  </div>
  <ion-content class="has-subheader">
    <leaflet data-tap-disabled="true" center="center" defaults="defaults" height="150px" markers="markers"></leaflet>
    <button class="ng-hide button button-default button-assertive button-full"
            ui-sref="app.tour_start({tourId: tour.id, placeId: tour.tour_places[0].id})"
            ion-track-tap="Tour gestartet" ion-track-data="{ type: user_tour.completed ? 'Wiederholung' : 'Erstmaliger Start', tour: tour.name }"
            ng-click="newUserTour()" style="margin: 0;"
            ng-show="user_tour.completed || !userTourHasPause()">
      <span class="button-inner">{{user_tour.completed ? 'NEU BEGINNEN' : 'TOUR STARTEN'}}</span>
      <ion-button-effect></ion-button-effect>
    </button>
    <div class="item">
      <p><span class="badge badge-label" ng-repeat="tag in tour.tags">{{tag.name}}</span> </p>
      <p>{{tour.description}}</p>
    </div>
    <ion-list>
      <div class="item item-divider">
        Ausflugsziele
      </div>
      <ion-item ng-repeat="tour_place in (correctTourPlaces = (tour.tour_places | orderBy:'id'))"
                ng-class="{'item-button-right': isPlaceVisited(correctTourPlaces[$index - 1]) && !isPlaceVisited(tour_place)}">
        {{$index + 1}}.
        {{tour_place.place.name}}
        <span ng-if="isPlaceVisited(tour_place)" class="item-note">
          besichtigt
        </span>
        <button class="button button-assertive"
                ng-if="isPlaceVisited(correctTourPlaces[$index - 1]) && !isPlaceVisited(tour_place)"
                ui-sref="app.tour_start({tourId: tour.id, placeId: tour_place.place.id})">
          Fortsetzen
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
