<ion-view view-title="Touren">
  <ion-content>
    <ion-list>
      <li class="item item-toggle">
        Sortierung nach Vorlieben
        <label class="toggle toggle-calm">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>
      <div class="item item-divider">
        Meine Touren
      </div>
      <ion-item class="item item-icon-right" ng-repeat="user_tour in user_tours" ng-click="selectUserTour(user_tour.id)" ui-sref="app.tour_detail({tourId: user_tour.tour.id})">
        {{user_tour.id}}
        {{user_tour.tour.name}}
        <span ng-if="!user_tour.completed" class="item-note">
          pausiert
        </span>
        <span ng-if="user_tour.completed" class="item-note">
          abgeschlossen
        </span>
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
      <ion-item class="item item-icon-left" ng-show="user_tours.length < 1">
        <p>Angefangene, pausierte oder selbst erstellte Touren findest du in diesem Bereich.</p>
        <i class="icon ion-ios-information"></i>
      </ion-item>

      <div class="item item-divider">
        Verfügbare Touren
      </div>
      <ion-item class="item item-icon-right" ng-repeat="tour in tours" ui-sref="app.tour_detail({tourId: tour.id})">
        {{tour.id}}
        {{tour.name}}
        <i class="icon ion-ios-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
