.item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p, .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6, .item-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

#start-button-item {
    position: relative;
    overflow: visible;
}

#start-button-item .button-fab {
    top: -50%;
    left: 50%;
    margin-left: -28px;
}

.button-round {
    width: 56px;
    height: 56px;
    line-height: 56px;
    min-width: 0;
    vertical-align: middle;
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    font-size: 14px;
}

.button-fab {
    position: absolute;

}

.button-fab ion-icon {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 2.8rem;
}

[fab-center] {
    left: 50%;
    margin-left: -28px;
}

[fab-top] {
    top: 16px;
}

[fab-right] {
    right: 16px;
}

[fab-bottom] {
    bottom: 16px;
}

[fab-left] {
    left: 16px;
}

[fab-fixed] {
    position: fixed;
}

.button-icon-left ion-icon {
    padding-right: 0.3em;
    font-size: 1.4em;
    line-height: 0.67;
    pointer-events: none;
}

.button-icon-right ion-icon {
    padding-left: 0.4em;
    font-size: 1.4em;
    line-height: 0.67;
    pointer-events: none;
}

.button-icon-only {
    padding: 0;
    min-width: 0.9em;
}

.button-icon-only ion-icon {
    padding: 0 0.5em;
    font-size: 1.8em;
    line-height: 0.67;
    pointer-events: none;
}

.pulse {
    -webkit-animation: pulsate 2s ease-out infinite;
    -moz-animation: pulsate 2s ease-out infinite;
    -o-animation: pulsate 2s ease-out infinite;
    animation: pulsate 2s ease-out infinite;
    opacity: 1.0
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@-moz-keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@-o-keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

@keyframes pulsate {
    0% {
        opacity: 0.3;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.3;
    }
}

.shake {
    animation: shake 4.1s cubic-bezier(.36, .07, .19, .97) infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    0%, 20% {
        transform: translate3d(0px, 0, 0);
    }
    2%, 18% {
        transform: translate3d(-1px, 0, 0);
    }
    4%, 16% {
        transform: translate3d(2px, 0, 0);
    }
    6%, 10%, 14% {
        transform: translate3d(-4px, 0, 0);
    }
    8%, 12% {
        transform: translate3d(4px, 0, 0);
    }
}

/* Star difficulty */
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

.rating .filled {
    color: #21568b;
}

/* Footer, Subfooter buttons */
.bar-footer button, .bar-subfooter button {
    margin: 0 !important;
}

.auto-height {
    height: auto;
}

.bar .button-large {
    line-height: 53px;
}

/* Ion list header */
ion-list-header {
    position: relative;
    padding: 10px 16px 10px 16px;
    font-weight: 500;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #333;
    border-bottom: 1px solid #c8c7cc;
}

ion-list-header {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Animate show hide */
.animate-show {
    line-height: 20px;
    opacity: 1;
    padding: 10px;
    border: 1px solid black;
    background: white;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
    transition: all linear 0.5s;
}

.animate-show.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0 10px;
}

/* Label */

.badge-label {
    position: relative !important;
    top: 0 !important;
    right: 0 !important;
    display: inline-block !important;
    margin: 0 5px 5px 0;
    background-color: #11c1f3;
    color: white;
}

.badge-label.selected {
    background-color: #077493;
}

/* CORE item expand/collapse */
.item-expand {
    position: relative;
    width: 100%;
    max-height: 14px;
    transition: max-height 0.5s ease-out;
    overflow: hidden;
}

.item-expand.inactive:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 100%;
    display: block;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0, rgba(255, 255, 255, 0)),
            color-stop(1, rgba(255, 255, 255, 1))
    );
    background-image: -o-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.item-expand.active {
    max-height: 200px;
    transition: max-height 0.3s ease-out;
}
.item-expand-footer {
    margin-top: 5px;
}

.item-expand-footer i {
    margin-right: 5px;
}


/* Intro */
body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
    height: 100%;
}
.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;

    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.logo {
    margin: 30px 0;
    font-size: 900%;
}

#list {
    width: 250px;
    margin: 30px auto;
    font-size: 16px;
}
#list ol {
    margin-top: 30px;
}
#list ol li {
    text-align: left;
    list-style: decimal;
    margin: 10px 0;
}

/* Slider */
.slider-slide {
    background: #387ef5 !important;
    color: white !important;
}
.slider-slide h1, .slider-slide h2, .slider-slide h3, .slider-slide h4, .slider-slide h5 {
    color: white !important;
}
